:root {
    --light-background: #fbfef9 ;
    /* --dark-background: #fafd86; */
    --button-background: #f79f79;
    --text-grey: #6d696a ;
    /* --dark: #b1b1b1; */
}

* {
 color: var(--text-grey);
 background-color: var(--light-background);
}

button{
    background-color: var(--button-background);
    border-radius: 4px;
    font-size: 20px;
    width: 179px;
    height: 49px;
    border: none;
    text-align: center;
    color: var(--text-grey);
}


