:root {
    --light-background: #fbfef9;
    --button-background: #f79f79;
    --button-light: #f9ba9f;
    --text-grey: #6d696a;
    --btn-height: 49px;
}

* {
    color: var(--text-grey);
    background-color: var(--light-background);
}

#view-score,
#countdown-box,
#start-btn,
#submit-btn,
#clear,
#new-game {
    background-color: var(--button-background);
    border-radius: 4px;
    font-size: 20px;
    width: 179px;
    height: var(--btn-height);
    border: none;
    text-align: center;
}


#view-score {
    float: left;
}

#countdown-box {
    float: right;
}
 #start-page{
    display: flex;
    flex-direction: column;
 }

h1 {
    display: block;
    margin: 100px auto 30px;

    /* flex: auto; */
    /* justify-content: center;
    align-content: center; */
    /* position: absolute; */
    /* width: 450px; */
    height: 96px;
    /* left: 495px;
    top: 177px; */
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

p {
    display: block;
    margin: auto;

    /* justify-content: center;
    align-content: center; */
    /* position: absolute; */
    /* width: 400px; */
    height: 197px;
    left: 488px;
    top: 250px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

#inp {
    position: absolute;
    height: 7px;
    left: 618px;
    top: 310px;
    font-weight: 400;
    font-size: 24px;
}


input {
    border-color: var(--text-grey);
    border-style: solid;
    border-radius: 4px;
}

#submit-btn,
#start-btn {
    /* position: absolute; */
    display: block;
    margin: auto;
    width: 179px;
    height: var(--btn-height);
    /* left: 630px;
    top: 398px; */

}

#question-card {
    background-color: var(--text-grey);
    position: absolute;
    width: 826px;
    height: 475px;
    left: 296px;
    top: 150px;
}

#ans-return {
    color: var(--light-background);
    position: relative;
    left: 715px;
    top: 315px;
    background-color: var(--text-grey);
    width: 2px;
    font-weight: 400;
    font-size: 20px;
}

h3 {
    position: relative;
    width: 560px;
    height: 77px;
    left: 131px;
    top: 67px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--light-background);
    background-color: var(--text-grey);
}


#answer-btns {
    position: absolute;
    background-color: var(--text-grey);
    left: 230px;
    top: 175px;
}

.ans {
    width: 324px;
    height: var(--btn-height);
    font-size: 20px;
    border: none;
    text-align: center;
    background-color: var(--button-background);
    color: var(--text-grey);
    display: block;
    margin: 17px;
}

input {
    width: 65px;
}

#saved {
    border: var(--text-grey);
    width: 65px;
}

#new-game {
    position: absolute;
    width: 179px;
    height: var(--btn-height);
    left: 505px;
    top: 380px;
}

#clear {
    position: absolute;
    width: 179px;
    height: var(--btn-height);
    left: 760px;
    top: 380px;
}

#saved {
    position: absolute;
    text-align: center;
    width: 145px;
    height: 26px;
    left: 660px;
    top: 275px;
}

#in {
    border: solid 1px var(--text-grey);
    text-align: center;
    border-radius: 4px;
    display: block;
    margin: 7px;
}



.hide {
    display: none;
}

button:hover {
    background-color: var(--button-light);
}